header {
position: relative;
width: 1490px;
height: 754px;
background: linear-gradient(119.74deg, #000000 3.44%, rgba(39, 36, 36, 0.87) 90.97%);
}
body{
	margin:0;
}
header a{
	color: #FFFFFF;
	text-shadow: 0px 4px 4px #FF0101;
	font-family: Montserrat;
	font-size: 19px;
	line-height: 23px;
}
ul, li {
	display: block;
	margin: 0;
	padding: 0;
}
.menu {
	display: flex;
}
.menu li a {
	text-decoration: none;
	font-size: 19px;
}
.menu li {
	margin-right: 53px;
}
.nav {
	display: flex;
	align-items: center;
	padding-top: 89px;
	padding-left: 105px;
}
.logo {
	margin-right: 250px;
}
.band {
position: absolute;
width: 970px;
height: 556px;
left: 255px;
top: 197px;
background: url(slipknot_band.png);
}
.albHope {
position: absolute;
width: 200px;
height: 202.08px;
left: 1075px;
top: 473px;
background: url(albHope.png);
}
.albVol3 {
position: absolute;
width: 200px;
height: 201px;
left: 511px;
top: 227px;
background: url(albVol3.png);
}
.albVolim {
position: absolute;
width: 200px;
height: 200px;
left: 675px;
top: 473px;
background: url(albVolim.png)
}
.albWanyk {
position: absolute;
width: 208px;
height: 199px;
left: 854px;
top: 227px;
background: url(image.png);
}
.albIowa {
position: absolute;
width: 200px;
height: 200px;
left: 285px;
top: 473px;
}
